:root {
  --usc-garnet: #73000a;
  --usc-black: #000;
  --usc-white: #fff;
  --usc-gray-light: #ECECEC;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Berlingske Sans', Arial, sans-serif;
  color: var(--usc-black);
  background: var(--usc-white);
  line-height: 1.6;
}

/* utility bar */
.top-bar {
  background: var(--usc-black);
  padding: 5px 20px;
}
.top-bar ul {
  list-style: none;
  display: flex;
  gap: 15px;
  justify-content: right;
}
.top-bar a {
  color: var(--usc-white);
  font-size: 0.85rem;
  text-decoration: none;
}

/* main nav */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--usc-black);
  color: var(--usc-white);
  padding: 15px 20px;
}
.main-header .logo {
  font-size: 1.25rem;
  font-weight: bold;
}
.main-header .college {
  font-size: 1.5rem;
  font-weight: bold;
}

/* red nav */
.red-nav {
  background: var(--usc-garnet);
  padding: 10px 20px;
}
.red-nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  justify-content: flex-end; 
}
.red-nav a {
  color: var(--usc-white);
  font-weight: bold;
  text-decoration: none;
}

.place {
  text-align: center;
}

.place img {
  width: 100%;
  height: auto;
}

.place-text {
  background: var(--usc-gray-light);
  padding: 2px;
}

.place-text h1 {
  color: var(--usc-garnet);
  margin-bottom: 5px;
}

/* news */
.news {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  background: var(--usc-gray-light);
}

.news-card {
  flex: 1 1 250px;
  background: var(--usc-white);
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.news-card img {
  max-width: 100%;
  height: auto;
}

.cta {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  align-items: center;
}

.cta-text {
  flex: 1;
}

.cta-image {
  flex: 1;
}

.btn {
  display: inline-block;
  padding: 1px 2px;
  background: var(--usc-garnet);
  color: var(--usc-white);
  text-decoration: none;
  border-radius: 3px;
  margin-top: 1px;
}

/* footer */
footer {
  text-align: center;
  background: var(--usc-black);
  color: var(--usc-white);
  padding: 10px;
}
